body {

    &.template-login_form,
    &.template-login_failed,
    &.template-logged_out {
        #content-core {
            width: auto;
            max-width: 1200px;
        }

        .social-login {
            margin-top: 5rem;
            border-top: 1px solid #ccc;
            border-left: 0;

            ul {
                list-style-type: none !important;
                padding: 0;
                margin: 5rem 0;
                margin-left: 0 !important;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
                justify-content: center;
                text-align: center;

                @supports (display: grid) {
                    grid-gap: 2rem 1rem;
                }

                @supports not (display: grid) {
                    li {
                        margin: 2rem 1rem;
                    }
                }

                a,
                button {
                    @extend .btn;
                    @extend .btn-default;
                    width: 10rem;
                    height: 10rem;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    span:not(.fa) {
                        margin-top: 1rem;
                    }

                    span.fa {
                        &::before {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }

        @media (min-width: 768px) {
            .site-login.with-social {
                width: 50%;
                float: left;
                margin-right: 1rem;

                .field {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .social-login {
                width: calc(50% - 2rem - 1px);
                float: left;
                margin-top: 0;
                margin-left: 1rem;
                border-left: 1px solid #ccc;
                border-top: 0;
                padding-left: 1rem;
            }
        }
    }
}
